.bg-color{
    background-color: #eeece9ce;
}
.navbar-color{
    background-color: #fff;
}
.nav-font-size{
    font-size: 0.55rem;
    color: #000000;
}
@media (max-width: 576px) {
    .side-bar {
        position: absolute;
        left: -50rem;
        z-index: 10;
        height: 95%;
         transition: all 0.5s ease;
       }
       
       .show {
         left: 0;
       }
}
@media (max-width: 576px) {
    .admin-name {
        display: none;
    }
    .hide{
        display: none;
    }
}
@media (max-width: 525px) {
    .hide-pad{
        padding: 0;
    }
    .small-size{
        font-size: 0.5rem;
    }
    .small-size img{
        width: 1.2rem;
    }
    .admin-text{
        font-size: 0.8rem;
        font-weight: bold;
    }
    .text-size {
        font-size: 15px;
    }
}
.font-main-sied{
    font-size: 0.9rem;
}
.lead-color{
    background-color: rgba(230, 227, 227, 0.395);
}
.bg-color-2{
    background-color: #3ec68b;
}
.font-dhm{
    font-size: 0.4rem;
}
.font-dhm-cards{
    font-size: 0.5rem;
}
@media (max-width: 575px) {
    .card-mobl{
        padding: 40px;
    }
    .font-main-sied{
        font-size: 0.7rem;
    }
    .head-2{
        display: none;
    }
}
@media(max-width:450px){
    .img-size{
        width: 1.3rem;
    }
}
@media(max-width:992px){
    .revers-order{
        flex-direction: column-reverse;
    }
    .top-lg{
        margin-top: 50px;
    }
}
.hover-nav:hover{
    background-color: #fff;
    border-radius: 5px;
}
.hover-nav:hover i{
    color: royalblue !important;
}
.hover-nav:hover a{
    color: royalblue !important;
}
.blue-color{
    background-color: #02459e;
}
.lead-hover:hover{
    background-color: #feb125;
}
.lead-hover:hover a{
    color: #fff !important;
}  